@model TiendaMVC.Models.Producto
@{
    ViewData["Title"] = "Eliminar producto";
}

<h1>@ViewData["Title"]</h1>
<form asp-action="Delete" method="post">
    <input asp-for="Id" type="hidden">
    <p>¿Desea eliminar eliminar producto <strong>@Model.Nombre</strong>?</p>
    <button type="submit" class="btn btn-danger">Si</button>
    <a asp-action="Index" class="btn btn-secondary">No</a>
    
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}