ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 14px 16px;
    background-color: black;
    text-decoration: none;
    text-align: center;
    color: white;
    transition: background-color 0.3s ease;
}

li a:hover {
    display: block;
    padding: 14px 16px;
    background-color: #dddddd;
    text-decoration: none;
    text-align: center;
    color: black;
    cursor: pointer;
}

li .active{
    background-color: gray;
}


