<nav>
  <ul>
    <li><a href="#" class="active">{{menu1}}</a></li>
    <li><a href="#">{{menu2}}</a></li>
    <li><a href="#">{{menu3}}</a></li>
  </ul>
</nav>
<main>
  <h1>{{titulo}} mi nombre es <strong>{{name}}</strong></h1>
  <h3>Soy {{dato}} egresada del {{school}}</h3>
  He desarrollado {{dato2}} páginas en toda mi vida
  <p>Trabajo en {{empresa}}</p>
  <form action="">
    <input type="text">
    <input type="text">
    <input type="text">
    <button type="button">Enviar</button>
  </form>
</main>